@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  box-sizing: border-box;
  font-size: 6.25%;
  background: black;
  cursor: default;
  text-rendering: optimizeSpeed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body {
  font-size: 16rem;
}

.flex-row-center {
  @apply flex justify-center items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.hide {
  @apply opacity-0 pointer-events-none;
}

.show {
  @apply opacity-100 pointer-events-auto;
}
