@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 6.25%;
}

body {
  font-size: 16rem;
}

.flex-row-center {
  @apply flex justify-center items-center;
}

.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.hide {
  @apply opacity-0 pointer-events-none;
}

.show {
  @apply opacity-100 pointer-events-auto;
}

@font-face {
  font-family: 'Sporting Grotesque_Bold';
  src: url('../public/fonts/Sporting_Grotesque-Bold_web.ttf') format('truetype');
}

@font-face {
  font-family: 'Sporting Grotesque_Regular';
  src: url('../public/fonts/Sporting_Grotesque-Regular_web.ttf') format('truetype');
}

/* .pink-text-shadow {
  text-shadow: #ff02a9 1px 0 10px;
} */
